* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Header/logo Title */
header {
    padding: 80px;
    text-align: center;
    /* background: #1abc9c; */
    color: white;
    background-image: url(images/bgimage.jpg);
}

/* Increase the font size of the heading */
header h1 {
    font-size: 40px;
}

nav {
    background-color: #1abc9c;
    width: 100%;
    text-align: right;
    padding: 0 10px 0 10px;
}

nav span,
nav span a,
nav span a:visited {
    /* float:right; */
    margin: 0px;
    text-align: center;
    line-height: 40px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px 0 20px;
    /* padding-right: 20px; */
}

nav span a:hover {
    color: #f1f1f1;
    background-color: #106957;
}

/* Column container */
#middle {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    background-color: #f1f1f1;
    margin-top: 10px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.left {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.left img {
    height: 90%;
}

/* Main column */
.right {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
    padding-top: 10%;
    text-align: center;
    line-height: 30px;
    /* float: center; */
    /* justify-items: center; */
}

.right h2 {
    width: 90%;
    /* padding-left: 10%; */
}

.right p {
    width: 90%;
    /* padding-left: 10%; */
}

#right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#right-content a {
    text-decoration: none;
}

a button {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #1abc9c;
    border: none;
    border-radius: 15px;
    width: 205px;
}

#form{
    text-align: center;
    margin: 50px;
}

#form input{
    margin-top: 10px;
}

button:hover {
    color: #f1f1f1;
    background-color: #106957;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0 0 0 10px;
}

/* Fake image, just for this example */
.background {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
}

#end {
    background-color: #ddd;
    padding-top: 10px;
}

h3 {
    padding-left: 20px;
}

.experience {
    width: 47%;
    display: inline-block;
    margin-left: 2%;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    font-size: 12px
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    #middle {
        flex-direction: column;
    }

    .experience {
        width: 47%;
    }

    header {
        width: 100%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

    /* .navbar a {
        float: none;
        width: 100%;
    } */
    .experience {
        width: 47%;
    }

    header {
        width: 100%;
    }
}